/* paleta de colores 
#F5EFE6 beish
#E8DFCA beish oscuro
#6D94C5 azul pastel 
#CBDCEB celeste pastel 
*/
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* etiquetas */
p{
    color: black;
    text-align: center;
    margin: 10px 0px;
}
h1{
    color: black;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    

}
nav{
    width: 30%;
}
nav a{
    color: black;
    text-decoration: none;
}

body { 
    font-size: 1rem;
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
main{
    flex-grow: 1;
}

/* header-------------------------------------- */
/* logo */
.logo{
    width: 120px;
    margin-left: 10px;
}
header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;


}
footer{
    text-align: center;
    background-image: url(../imagenes/banner.jpg);

}
footer div h3{
    color: aliceblue;
    display: flex;
    align-items: baseline;
    margin: 10px;
}
footer div ul{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}
.footerletcolor{
    color: aliceblue;
    
}
.contenedor-grid{
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "imagen1 texto1"
    "titulo2 imagen2"
    "texto2 imagen2"
    "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 250px 90px 270px 180px;
    gap: 5px;
    justify-content: center;
    justify-items: center;
    
}
.titulo{
    grid-area: titulo;
}
.imagen-1{
    grid-area: imagen1;
    width: 100%;
    height: 100%;
}
.texto-1{
    grid-area: texto1;
}
.titulo-2{
    grid-area: titulo2;
}
.imagen-2{
    grid-area: imagen2;
    width: 90%;
    height: 100%;
    
}
.texto-2{
    grid-area: texto2 ;
    align-items: center;
}
.footer{
    grid-area: footer;
}
@media (max-width: 480px){
        header{
        flex-direction: column;
        }
        nav{
        width: 90%;
        }
        nav ul{
        margin-right: 0px;
        }
        .contenedor-grid{
        grid-template-areas: 
        "titulo"
        "texto1"
        "imagen1"
        "titulo2"
        "texto2"
        "imagen2"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 230px 170px 100px 640px 220px 100px ;
        margin: opx 5px;
        }
}

